.AppConfirm{
  height: 100%;
  background: rgb(202, 202, 202);
  display: flex;
  flex-direction: column;
  .main{
    flex: 1;
    padding: 10px;
    .cart_list{
      li{
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
    }
    .total_bar{
      border-top: 1px dashed gray;
      .center{
        font-size: 1.3rem;
        color: black;
      }
      .price{
        color: #ff6700;
        font-size: 2rem;
      }
    }
  }
  .two_button{
    position: absolute;
    left: 10px;
    bottom: 70px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    div:nth-child(1), div:nth-child(2){
      padding: 7px 0;
    }
    div:nth-child(2){
      border-top: 1px solid rgb(199, 199, 199);
    }
  }
}